<section class="bck grey margin-top margin-bottom">
    <div class="row text center">
        <nav id="base_list" data-tuktuk="menu" class="column_12 padding text bold">
            <% if @bases.length <= 0 %>
                <a id='create_base' class='baseName active' ><span class='icon plus-sign'></span>Create a Base!</a>
            <% else %>
                <% @bases.each_with_index do |base, index| %>
                    <a id='<%= index %>' class='baseName <%= "active" if index == 0 %>'><span class='icon building'></span><%= base.name %><small>(1)</small></a>
                <% end %>
                <% if @bases.length < Settings::MAX_BASES %>
                  <a id='create_base' class='baseName'><span class='icon plus-sign'></span>New Base</a>
                <% end %>
            <% end %>
        </nav>
    </div>
</section>


<section id="mainSection" class="">
    <div class="baseDataBox row">
      <% if @bases.length > 0 %>
      <div class="dataColumn column_6 padding-top padding-bottom">
          <h4 class="baseDataTitle text italic bold color theme margin-left margin-bottom">Buildings:</h4>
          <% BuildingType.getAll.each do |building| %>
            <div id="<%= building.type_id %>" class="buildingList baseData column_5 bck grey margin-bottom padding-left padding-right">
              <%= building.name %>
              <div class="on-right">
                <% unit = @bases.first.building_units.where(type_id: building.type_id).first %>
                <%= (unit != nil)? "Level: #{unit.level}" : raw("<button class='success tiny'>Build it!</button>") %>
              </div>
            </div>
          <% end %>
      </div>
      <div class="dataColumn column_6 padding-top padding-bottom">
          <h4 class="baseDataTitle text italic bold color theme margin-left margin-bottom">Units:</h4>
          <% entityControlDisabled = !hasFactories?(@bases.first) || is_entity_size_exceded?(0, @bases.first) %>
          <% EntityType.getAll.each do |entity| %>
            <div id="<%= entity[:type_id] %>" class="entityList baseData column_5 bck grey margin-bottom padding-left padding-right">
              <%= entity[:name] %>
              <div class="on-right">
                <input type="number" class="entityInput small" value="0" min="0" max="199">
                <a class="entityAdd color green icon plus-sign <%= "disabled" if entityControlDisabled %>"></a>
                <a class="entityRemove color red icon minus-sign <%= "disabled" if entityControlDisabled %>"></a>
                &nbsp
                <% stack = @bases.first.entity_stacks.where(:type_id => entity[:type_id])[0] %>
                <% if stack != nil %>
                  <%= stack.amount  %>
                <% else %>
                  0
                <% end %>
              </div>
            </div>
          <% end %>
      </div>
      <% end %>
      <div class="dataPanel hidden column_10 bck grey margin padding">
        <h4 class="dataPanelTitle text italic bold color theme margin-left">Title:</h4>
      </div>
    </div>
</section>

<div id="alert" data-tuktuk="modal" data-modal="alert" class="column_5">
  <header class="bck alert">
    <h4 class="text thin inline">Alert</h4>
  </header>
  <article id="alert_text" class="text big"></article>
  <footer>
    <button id="alert_close" class="button large success on-right margin-bottom">
      <span class="icon ok"></span>
    </button>
  </footer>
</div>
<div id="formModal" data-tuktuk="modal" data-modal="prompt" class="column_5">
  <header class="bck notice color white">
    <h4 class="text inline">Name of the base?</h4>
  </header>
  <article class="text big">
    <form>
      <label id="text"></label>
      <input type="text" id="formModal_text">
    </form>
  </article>
  <footer>
    <button id="formModal_buttonNOT" class="button alert on-right margin-bottom">
      <span class="icon remove"></span>
    </button>
    <button id="formModal_buttonOK" class="button theme on-right margin-bottom margin-right">
      <span class="icon ok"></span>
    </button>
  </footer>
</div>
<div id="confirmModal" data-tuktuk="modal" data-modal="confirm" class="column_5">
  <header class="bck alert">
    <h4 id="confirmModal_title" class="text thin inline"></h4>
  </header>
  <article id="confirmModal_text" class="text big"></article>
  <footer>
    <button id="confirmModal_buttonNOT" class="button large alert on-right margin-bottom">
      <span class="icon remove"></span>
    </button>
    <button id="confirmModal_buttonOK" class="button large success on-right margin-bottom margin-right">
      <span class="icon ok"></span>
    </button>
  </footer>
</div>

<div data-tuktuk="lock" data-loading="false">
  <div class="loading"></div>
</div>

<script>
  Base.size = <%= @bases.length%>
  Base.building_types = [
  <% BuildingType.getAll.each do |building| %>
    {type_id: <%=building[:type_id]%>, name: "<%=building[:name]%>"},
  <% end %>
  ]
  Base.entity_types = [
  <% EntityType.getAll.each do |entity| %>
    {type_id: <%=entity[:type_id]%>, name: "<%=entity[:name]%>"},
  <% end %>
  ]
</script>