<div class="baseListContainer bck grey">
    <div class="row text center padding-bottom">
        <nav id="base_list" data-tuktuk="menu" class="column_12 padding text bold">
            <% if @bases.length <= 0 %>
                <a id='create_base' class='baseName active' ><span class='icon plus-sign'></span>Create a Base!</a>
            <% else %>
                <% @bases.each_with_index do |base, index| %>
                <% money = base.resource_stacks.find_by_type_id(0).amount%>
                <% materials = base.resource_stacks.find_by_type_id(1).amount%>
                  <a id='<%= index %>' class='baseName <%= "active" if index == 0 %> tip-bottom' data-tip="Money <%=money%> - Materials <%=materials%>"><span class='icon building'></span><%= base.name %></a>
                <% end %>
                <% if @bases.length < Settings::MAX_BASES %>
                  <a id='create_base' class='baseName'><span class='icon plus-sign'></span>New Base</a>
                <% end %>
            <% end %>
        </nav>
    </div>
</div>


<div id="mainSection" class="">
    <div class="baseDataBox row">
      <div class="dataColumn column_6 padding-top padding-bottom">
        <% if @bases.length > 0 %>
          <h4 class="baseDataTitle text italic bold color theme margin-left margin-bottom">Buildings:</h4>
          <% BuildingType.getAll.each do |building| %>
            <div id="<%= building.type_id %>" class="buildingList baseData column_5 bck grey margin-bottom padding-left padding-right">
              <%= building.name %>
              <div class="on-right">
                <% unit = @bases.first.building_units.where(type_id: building.type_id).first %>
                <% if unit != nil %>
                  Level: <span class="building_level"><%= unit.level %></span>
                  <button class='addBuildingLevel success tiny margin-left icon arrow-up'></button>
                <% else %>
                  <button class='createBuilding success tiny'>Build it!</button>
                <% end %>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
      <div class="dataColumn column_6 padding-top padding-bottom">
        <% if @bases.length > 0 %>
          <h4 class="baseDataTitle text italic bold color theme margin-left margin-bottom">Units:</h4>
          <% entityControlDisabled = !hasFactories?(@bases.first) || is_entity_size_exceded?(0, @bases.first) %>
          <% EntityType.getAll.each do |entity| %>
            <div id="<%= entity[:type_id] %>" class="entityList baseData column_5 bck grey margin-bottom padding-left padding-right">
              <%= entity[:name] %>
              <div class="on-right">
                <% stack = @bases.first.entity_stacks.where(:type_id => entity[:type_id])[0] %>
                <a class="entityAdd color green icon plus-sign <%= "disabled" if entityControlDisabled %>">
                </a>
                <a class="entityRemove color red icon minus-sign <%= "disabled" if entityControlDisabled %>">
                </a>
                <input type="number" class="entityInput small" value="0" min="0" max="199">
                <span class="amountType text italic bold color success">
                  <%= (stack != nil)? stack.amount : 0 %>
                </span>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
      <div class="dataPanel hidden column_10 bck grey margin padding">
        <h4 class="dataPanelTitle text italic bold color theme margin-left">Title:</h4>
        <div class="dataPanelContent text">The content</div>
      </div>
    </div>
</div>

<script>
  Base.size = <%= @bases.length%>
  Base.building_types = [
  <% BuildingType.getAll.each do |building| %>
    {type_id: <%=building[:type_id]%>, name: "<%=building[:name]%>", cost: <%=building[:cost]%>, description: "<%= building[:description] %>"},
  <% end %>
  ]
  Base.entity_types = [
  <% EntityType.getAll.each do |entity| %>
    {type_id: <%=entity[:type_id]%>, name: "<%=entity[:name]%>", cost: <%=entity[:cost]%>, description: "<%= entity[:description] %>", damage: <%= entity[:damage] %>, armor: <%= entity[:armor] %>, range: <%= entity[:range] %>},
  <% end %>
  ]
</script>