<script>Base.size = <%= @bases.length%></script>

<section class="bck grey margin-top margin-bottom">
    <div class="row text center">
        <nav id="base_list" data-tuktuk="menu" class="column_12 padding text bold">
            <% if @bases.length <= 0 %>
                <a id='create_base' href="#" class='active'><span class='baseName icon plus-sign'></span>Crea una base!</a>
            <% else %>
                <% @bases.each_with_index do |base, index| %>
                    <a id='base_name_<%= index %>' class='<%= "active" if index == 0 %>' href='#'><span  class='baseName icon building'></span><%= base.name %><small>(1)</small></a>
                <% end %>
                <a id='create_base' href='#'><span class='baseName icon plus-sign'></span>Nueva Base</a>
            <% end %>
        </nav>
    </div>
</section>


<section id="mainSection" class="padding-left padding-right">
    <div class="baseDataBox row">
        <% if @bases.length > 0 %>
        <div class="column_6 padding-top padding-bottom">
            <h4 class="baseDataTitle text italic bold color theme margin-left">Edificios:</h4>
            <% Cache.buildings.each do |building| %>
              <a id="building_type_<%= building[:type_id] %>" href="#">
              <div class="baseData column_5 bck grey margin-bottom padding">
                <%= building[:name] %>
                <div class="on-right">
                  <% units = @bases.first.building_units.where(:type_id => building[:type_id]) %>
                  <% if units != nil %>
                    <%= units.length %>
                  <% else %>
                    0
                  <% end %>
                </div>
              </div>
              </a>
            <% end %>
        </div>
        <div class="column_6 padding-top padding-bottom">
            <h4 class="baseDataTitle text italic bold color theme margin-left">Unidades:</h4>
            <% Cache.entities.each do |entity| %>
              <a id="entity_type_<%= entity[:type_id] %>" href="#">
              <div class="baseData column_5 bck grey margin-bottom padding">
                <%= entity[:name] %>
                <div class="on-right">
                  <% stack = @bases.first.entity_stacks.where(:type_id => entity[:type_id])[0] %>
                  <% if stack != nil %>
                    <%= stack.amount  %>
                  <% else %>
                    0
                  <% end %>
                </div>
              </div>
              </a>
            <% end %>
        </div>
        <% end %>
    </div>
</section>

<footer id="mainFooter" class="padding align center text small">
    <div class="row">
        <div class="offset_3 column_6">
            <p>Made by PixelDream (<a target="_blank" class="text bold color theme" href="https://github.com/muit">Muit</a>, <a class="text bold color theme" href="https://github.com/alvarorgtr">alvaroRgtr</a>)
            </p>
            <small>Report an Issue <a target="_blank" class="text bold" href="https://bitbucket.org/ironhackproject/project/issues">Here</a>!</small>
        </div>
    </div>
</footer>

<div id="alert" data-tuktuk="modal" data-modal="alert" class="column_5">
  <header class="bck alert">
    <h4 class="text thin inline">Alert</h4>
  </header>
  <article id="alert-text" class="text big"></article>
  <footer>
    <button id="alert_close" class="button large success on-right margin-bottom">
      <span class="icon ok"></span>
    </button>
  </footer>
</div>
<div id="formModal" data-tuktuk="modal" data-modal="prompt" class="column_5">
  <header class="bck alert">
    <h4 class="text thin inline">Nombre de la base?</h4>
  </header>
  <article class="text big">
    <form>
      <label id="text"></label>
      <input type="text" id="formModal_text">
    </form>
  </article>
  <footer>
    <button id="formModal_buttonNOT" class="button large alert on-right margin-bottom">
      <span class="icon remove"></span>
    </button>
    <button id="formModal_buttonOK" class="button large success on-right margin-bottom margin-right">
      <span class="icon ok"></span>
    </button>
  </footer>
</div>
<div data-tuktuk="modal" data-modal="confirm" class="column_5">
  <header class="bck alert">
    <h4 class="text thin inline">Confirm</h4>
  </header>
  <article id="text" class="text big"></article>
  <footer>
    <button class="button large alert on-right margin-bottom">
      <span class="icon remove"></span>
    </button>
    <button class="button large success on-right margin-bottom margin-right">
      <span class="icon ok"></span>
    </button>
  </footer>
</div>

<div data-tuktuk="lock" data-loading="false">
  <div class="loading"></div>
</div>
