<div id="mainSection" class="">
    <div class="row">
	<% if @user.present? && !@error.present? %>
		<% if @ally_base.present? %>
			<div id="combat_result_alert" data-tuktuk="modal" data-modal="alert" class="column_6">
				<header class="bck alert attack">
					<h4 class="text inline">Combat result</h4>
				</header>
				<section id="alert_text" class="text big padding-left padding-rigth padding-top">
					<% if entity_stacks_has_units(@ally_base.entity_stacks) %>
						<span class="victory"><strong>Victory!</strong></span>
						<p>The following units have survived to the battle:</p>
						<ul class="empty">
							<% @ally_base.entity_stacks.order('id DESC').each do |an_ally_unit| %>
								<% if an_ally_unit.amount > 0 %>
									<% unit_type = EntityType.byTypeId(an_ally_unit.type_id) %>
									<li><%= unit_type.name %>: <%= an_ally_unit.amount %></li>
								<% end %>
							<% end %>
						</ul>
					<% else %>
						<span class="defeat"><strong>Defeat</strong></span>
						<p>No units survived the battle!</p>
					<% end %>
				</section>
				<footer id="combat_alert_footer">
					<button id="combat_results_alert_done" class="on-middle margin-top margin-bottom small button ligth text bold">Done</button>
				</footer>
			</div>
		<% end %>
		<div class="column_8 offset_2">
			<div class="user_info margin-top">
				<div class="inline padding-bottom">
					<h2 class=""><%= @user.name %>
						<span class='tag bck theme'>Rank: #0</span>
					</h2>
				</div>
				<div class="on-right text right">
					<p>Total points: <%= @user.user_rank.total_level %></p>
					<p>Number of bases: <%= @user.bases.length %></p>
				</div>
			</div>

			<div class="bases_list row margin-top padding-top">
				<% @user.bases.each_with_index do |a_base, index| %>
					<div class="column_8 bck grey margin-bottom padding-top padding-bottom">
			     	<h5 class="text bold color theme margin-left inline"><%= a_base.name %></h5> <em>(<%= a_base.get_level_points %> points)</em>
			      <div id="prepare_attack_button" class="inline on-right margin-right small button destroy text bold">Prepare attack</div>
			    	<div id="attack_alert" data-tuktuk="modal" data-modal="alert" class="column_5">
							<header class="bck alert attack">
								<h4 class="text inline">Attack!</h4>
							</header>
							<section id="alert_text" class="text big padding">
								<p>From which base do you want to attack?</p>
								<%= form_tag(request.path, {class: "attack_alert_form"}) do %>
									<%= hidden_field_tag 'index', index %>
									<%= select_tag 'from_base', options_from_collection_for_select(current_user.bases, "id", "name"), class: 'base_from_select' %>
									<%= submit_tag 'Attack!', class: 'small button destroy text bold inline' %>
								<% end %>
								<button id="cancel_attack_alert" class="small button ligth text bold inline">Cancel</button>
							</section>
						</div>
					</div>
				<% end %>
			</div>
		</div>
	<% else %>
		<h3 class="error">
			<% if @error.present? %>
				<%= @error %>
			<% else %>
				Sorry, the user you are looking for does not exist.
			<% end %>
		</h3>
	<% end %>
</div>
</div>
<!-- Auto Margin to the footer. Need to be implemented automatic with css or js! -->
<div style="height: 298px !important;"></div>
