<!DOCTYPE html>
<html>
<head>
  <title>IH Wars</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <%= stylesheet_link_tag    'desktop' %>
  <%= javascript_include_tag 'desktop' %>
  <%= csrf_meta_tags %>
</head>
<body data-tuktuk="boxes" class="bck light">
    <section>
    	<% if flash[:cookies].present? %>
    		<section id="flash_cookies" class="bck cookies flash padding">
    			<h6 class="notice inline"><%= flash[:cookies] %></h6>
    			<button id="remove_flash_cookies" class="transparent tiny on-right inline icon remove"></button>
    		</section>
    	<% end %>

    	<!-- Necessary for devise gem -->
    	<% if alert.present? %>
    		<section id="flash_alert" class="bck alert flash padding">
    			<h6 class="alert inline"><%= alert %></h6>
    			<button id="remove_flash_alert" class="transparent tiny on-right inline icon remove"></button>
    		</section>
    	<% end %>

    	<% if notice.present? %>
    		<section id="flash_notice" class="bck success flash padding">
    			<h6 class="notice inline"><%= notice %></h6>
    			<button id="remove_flash_success" class="transparent tiny on-right inline icon remove"></button>
    		</section>
    	<% end %>

    	<header id="mainHeader" class="header bck dark">
    		<% if user_signed_in? %>
    	      <div class="column_6">
    	        <h3 class="text italic bold"><%= link_to raw("#{current_user.name}&nbsp<span class='tag bck theme'>Rank: #0</span>"), "/base" %>
    	        </h3>
    	      </div>
    	      <div class="column_4">
    	        <h6 class="text italic">
    	          <a class="tip-bottom" data-tip="money">
                    <span id="total_resources_money" class="resource margin-right icon money text center"> <%= get_current_user_resource(0) %></span>
                  </a>
    	          <a class="tip-bottom" data-tip="materials">
                    <span id="total_resources_materials" class="resource margin-right icon tint text center"> <%= get_current_user_resource(1) %></span>
                  </a>
    	          <a class="tip-bottom" data-tip="ping">
                    <span id="total_resources_ping" class="resource icon tasks text center"> <%= get_current_user_resource(2) %></span>
                  </a>
    	        </h6>
    	    	</div>
    	      <nav class="column_2 text right bold">
    	        <a data-method='delete' href="/users/sign_out" class="button small dark">Log Out</a>
    	      </nav>
        <% else %>
            <div class="column_8">
                <h4 class="text bold">You are not logged in</h4>
            </div>
            <nav class="access_account_buttons column_4 text right bold">
                <a href="/users/sign_in" class="button small dark">Log in</a>
                <a href="/users/sign_up" class="button small theme">Register</a>
            </nav>
        <% end %>
    	</header>

        <article class="scroll">
            <%= yield %>
            
            <footer id="mainFooter" class="margin-top padding-left padding-right align center text small bck light">
                Made by PixelDream (<a target="_blank" class="text bold color theme" href="https://github.com/muit">Muit</a>, <a class="text bold color theme" href="https://github.com/alvarorgtr">alvarorgtr</a>)
                <br>
                Report an issue <a target="_blank" class="text bold" href="https://bitbucket.org/ironhackproject/project/issues">here</a>!
            </footer>
        </article>
    </section>

    <div id="alert" data-tuktuk="modal" data-modal="alert" class="column_5">
        <header class="bck alert attack">
            <h4 class="text thin inline">Alert</h4>
        </header>
        <section id="alert_text" class="text big margin">
        </section>
        <footer>
            <button id="alert_buttonNOT" class="button destroy on-right margin-bottom">
                <span class="icon ok"></span>
            </button>
        </footer>
    </div>

    <div id="formModal" data-tuktuk="modal" data-modal="prompt" class="column_5">
        <header class="bck notice color white">
            <h4 class="text inline">Name of the base?</h4>
        </header>
        <section class="form padding">
            <label id="text"></label>
            <input type="text" id="formModal_text">
        </section>
        <footer>
            <button id="formModal_buttonNOT" class="button alert on-right">
            <span class="icon remove"></span>
            </button>
            <button id="formModal_buttonOK" class="button theme on-right margin-right">
            <span class="icon ok"></span>
            </button>
        </footer>
    </div>

    <div id="confirmModal" data-tuktuk="modal" data-modal="confirm" class="column_5">
      <header class="bck alert">
        <h4 id="confirmModal_title" class="text thin inline"></h4>
      </header>
      <section id="confirmModal_text" class="text big padding"></section>
      <footer>
        <button id="confirmModal_buttonNOT" class="button alert on-right margin-bottom">
          <span class="icon remove"></span>
        </button>
        <button id="confirmModal_buttonOK" class="button theme on-right margin-bottom margin-right">
          <span class="icon ok"></span>
        </button>
      </footer>
    </div>
</body>
</html>
