<!DOCTYPE html>
<html>
<head>
  <title>IH Wars</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <%= stylesheet_link_tag    'desktop' %>
  <%= javascript_include_tag 'desktop' %>
  <%= csrf_meta_tags %>
</head>
<body>
	<header class="padding-top bck dark">
	    <div class="row">
	        <div class="column_5">
	            <h2 class="text italic bold">Profile Name
	            <span class="tag bck theme">Rank: #0</span>
	            </h2>
	        </div>
	        <div class="column_5">
	            <h6 class="text italic">
	                <span id="total_resources_money" class="icon money column_2 text center"> 120002</span>
	                <span id="total_resources_petrol" class="icon tint column_2 text center"> 10002 </span>
	            </h6>
	        </div>
	        <nav class="column_2 text right bold">
	            <a data-method='delete' href="/users/sign_out" class="button small dark">Log Out</a>
	        </nav>
	    </div>
	</header>

	<!-- Necessary for devise gem -->
	<p class="notice"><%= notice %></p>
	<p class="alert"><%= alert %></p>

	<%= yield %>

</body>
</html>