<!DOCTYPE html>
<html>
<head>
  <title>IH Wars</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <%= stylesheet_link_tag    'desktop' %>
  <%= javascript_include_tag 'desktop' %>
  <%= csrf_meta_tags %>
</head>
<body class="bck light">
	<% if flash[:cookies].present? %>
		<section id="flash_cookies" class="bck cookies padding">
			<h6 class="notice inline"><%= flash[:cookies] %></h6>
			<button id="remove_flash_cookies" class="transparent tiny on-right inline icon remove"></button>
		</section>
	<% end %>

	<!-- Necessary for devise gem -->
	<% if alert.present? %>
		<section id="flash_alert" class="bck alert padding">
			<h6 class="alert inline"><%= alert %></h6>
			<button id="remove_flash_alert" class="transparent tiny on-right inline icon remove"></button>
		</section>
	<% end %>

	<% if notice.present? %>
		<section id="flash_notice" class="bck success padding">
			<h6 class="notice inline"><%= notice %></h6>
			<button id="remove_flash_success" class="transparent tiny on-right inline icon remove"></button>
		</section>
	<% end %>

	<header class="padding-top padding-bottom bck dark">
		<% if user_signed_in? %>
	    <div class="row">
	      <div class="column_6">
	        <h3 class="text italic bold"><%= link_to raw("#{current_user.name}&nbsp<span class='tag bck theme'>Rank: #0</span>"), "/base" %>
	        </h3>
	      </div>
	      <div class="column_4">
	        <h6 class="text italic">
	          <span id="total_resources_money" class="margin-right icon money text center"> <%= get_current_user_resource(0) %></span>
	          <span id="total_resources_materials" class="margin-right icon tint text center"> <%= get_current_user_resource(1) %></span>
	          <span id="total_resources_ping" class="icon tasks text center"> <%= get_current_user_resource(2) %></span>
	        </h6>
	    	</div>
	      <nav class="column_2 text right bold">
	        <a data-method='delete' href="/users/sign_out" class="button small dark">Log Out</a>
	      </nav>
	    </div>
    <% else %>
    	<div class="row">
	      <div class="column_8">
	        <h4 class="text bold">You are not logged in</h4>
	      </div>
	      <nav class="access_account_buttons column_4 text right bold">
	        <a href="/users/sign_in" class="button small dark">Log in</a>
	        <a href="/users/sign_up" class="button small theme">Register</a>
	      </nav>
	    </div>
    <% end %>
	</header>

	<article>
		<%= yield %>
	</article>

	<footer id="mainFooter" class="padding align center text small">
	  <div class="row">
      <div class="offset_3 column_6">
        <p>Made by PixelDream (<a target="_blank" class="text bold color theme" href="https://github.com/muit">Muit</a>, <a class="text bold color theme" href="https://github.com/alvarorgtr">alvarorgtr</a>)
        </p>
        <small>Report an issue <a target="_blank" class="text bold" href="https://bitbucket.org/ironhackproject/project/issues">here</a>!</small>
      </div>
	  </div>
</footer>
</body>
</html>
