<!DOCTYPE html>
<html>
<head>
  <title>IH Wars</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <%= stylesheet_link_tag    'desktop' %>
  <%= javascript_include_tag 'desktop' %>
  <%= csrf_meta_tags %>
</head>
<body>
	<!-- Necessary for devise gem -->
	<p class="notice"><%= notice %></p>
	<p class="alert"><%= alert %></p>

	<%= yield %>

</body>
</html>